<form method="post" class="mt-3"> 
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tìm Kiếm</label>
    <input type="password" name="q" class="form-control" id="exampleInputPassword1" placeholder="Nhập từ khóa">
  </div>
  <select name="gender" id="" class="form-select form-select-lg mb-3">
	<option value=""> Chọn giới tính</option>
	<option value="male">Nam</option>
	<option value="female">Nữ</option>
  </select>
  
  <button type="submit" class="btn btn-primary">Tìm Kiếm </button>
</form>